# compiled output
backend/dist
backend/node_modules
backend/.env

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*

# OS
backend/.DS_Store

# Tests
backend//coverage
backend//.nyc_output

# IDEs and editors
backend/.idea
backend/.project
backend/.classpath
backend/.c9/
backend/*.launch
backend/.settings/
backend/*.sublime-workspace

# IDE - VSCode
backend/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


front/.env

# Logs
front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/node_modules
front/.DS_Store
front/dist
front/dist-ssr
front/coverage
front/*.local

front//cypress/videos/
front//cypress/screenshots/

# Editor directories and files
front/.vscode/*
!.vscode/extensions.json
front/.idea
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/*.sw?
